.reset-password-success {
  width: 40%;
  margin: 34vh auto auto auto;
}

.reset-password-success img {
  width: 17%;
}

.reset-password-success h3 {
  margin-top: 60px;
  font-family: JetBrains Mono;
  color: #bbbbbb;
}
