.scoreboard {
  width: 100%;
  padding: 40px 40px 0px 40px;
  margin: auto;
  background-color: #171717;
}

.scoreboard button {
  font-size: 12px;
  border: 0px;
  border-radius: 2px;
  padding: 13px 0px;
}

.take-another-button {
  background-color: #ff0000;
  color: white;
}

.take-another-button:hover {
  background-color: black;
  color: white;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.back-to-test-button:hover {
  background-color: rgb(214, 213, 213);
  transition: background-color 0.5s ease;
}

.scoreboard .score-details {
  background-color: #fff06c;
  padding: 90px 0px 20px 0px;
  border-radius: 2px;
}
.score-details h2 {
  font-weight: bold;
}

.score-details p {
  font-size: 12px;
}

.score-details .question-details {
  margin-top: 50px;
  font-weight: bold;
  font-size: 14px;
}
